---
apiVersion: v1
kind: Service
metadata:
  name: mongo-headless
  namespace: mongo
spec:
  selector:
    app: mongo
  clusterIP: None
  ports:
    - protocol: TCP
      port: {{ mongo_port }}
      targetPort: {{ mongo_port }}
