---
apiVersion: v1
kind: Service
metadata:
  name: mongo
  namespace: mongo
spec:
  selector:
    app: mongo
  ports:
    - protocol: TCP
      port: {{ mongo_port }}
      targetPort: {{ mongo_port }}
